.total-price{
  text-align: center;
  font-size: 25px
}

label {
  width: 300px;
  float: left;
}

div {
  font-size: 20px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-style: italic;
}
