<h3>Your order:</h3>
<div class="orders">
<div *ngFor="let product of products let i = index">
    <p *ngIf="product.quantity > 0">
      <label><b>{{product.name}}</b> x<i>{{ product.quantity }}</i><strong> {{product.getPriceProduct()}} $</strong></label>
      <button (click)="deleteItem(i)">Delete</button>
    </p>
  </div>
  <div *ngIf="getTotalPrice() === 0" >
    <h5 class="title">Your order list is empty</h5>
  </div>
 <hr/>
  <p class="total-price">
    <span>Total price: {{ getTotalPrice() }} $</span>
  </p>
</div>


