.container {
  display: flex;
}

.products {
  width: 60%;
  display:flex;
  flex-wrap: wrap;
  border-top: 1px solid lightgrey;
}

.orders {
  width: 60%;
  display:flex;
  flex-wrap: wrap;
  border-top: 1px solid lightgrey;
}
