.products {
  display:flex;
  flex-wrap: wrap;
}
.product-item {
  border: 1px solid black;
  min-width: 250px;
  margin: 0 5px 5px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
.product-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
img {
  width: 100%;
  height: auto;
  display:block;
  border-radius: 10px;
}
