<h3>Choose clothes</h3>
<div class="products">
  <div class="product-item" *ngFor=" let product of products let i = index" (click)="addQuantityProduct(i)">
    <div class="product-img"><img src="{{ product.url }}" alt="">
    </div>
    <div class="product-info"><h4> {{ product.name }}</h4>
      <span>Price: <strong>{{ product.price }}</strong></span>
    </div>
  </div>
</div>


